* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body * {
    font-family: "Inter", sans-serif;
    line-height: 160%;
}

body {
    background-image: url(../images/Fundo.svg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

section {
    margin-top: 32px;
    color: white;
    background-image: linear-gradient(
        90deg,
        #9572fc 0%,
        #43e7ad 50.52%,
        #e2d45c 100%
    );
    border-radius: 10px;
    padding-top: 4px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #a1a1aa;
}

section ul {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
}
